version: "3"

services:
  sementes_xingu_app:
    container_name: sementes_xingu
    restart: always
    build: .
    links:
      - mongo_xingu
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongo_xingu:27017/sementes
      - SECRET=LBHbQJpuZT
      - PORT=80
    volumes:
      - ./uploads/xingu:/app/uploads
    networks:
      rededesementes_default:
    labels:
      - 'traefik.docker.network=sementes'
      - 'traefik.backend=sementes_xingu'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:xingu.sementesdoxingu.org.br'
      - 'traefik.enable=true'
  mongo_xingu:
    container_name: mongo_xingu
    image: 'mongo:4'
    volumes:
      - ./data/xingu:/data/db

  sementes_cerrado_app:
    container_name: sementes_cerrado
    restart: always
    build: .
    links:
      - mongo_cerrado
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongo_cerrado:27017/sementes
      - SECRET=LBHbQJpuZT
      - PORT=80
    volumes:
      - ./uploads/cerrado:/app/uploads
    networks:
      rededesementes_default:
    labels:
      - 'traefik.docker.network=sementes'
      - 'traefik.backend=sementes_cerrado'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:cerrado.sementesdoxingu.org.br'
      - 'traefik.enable=true'
  mongo_cerrado:
    container_name: mongo_cerrado
    image: 'mongo:4'
    volumes:
      - ./data/cerrado:/data/db

  sementes_teste_app:
    container_name: sementes_teste
    restart: always
    build: .
    links:
      - mongo_teste
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongo_teste:27017/sementes
      - SECRET=LBHbQJpuZT
      - PORT=80
    volumes:
      - ./uploads/teste:/app/uploads
    networks:
      rededesementes_default:
    labels:
      - 'traefik.docker.network=sementes'
      - 'traefik.backend=sementes_teste'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:teste.sementesdoxingu.org.br'
      - 'traefik.enable=true'
  mongo_teste:
    container_name: mongo_teste
    image: 'mongo:4'
    volumes:
      - ./data/teste:/data/db

networks:
  rededesementes_default:
    external: true
