@import "material-dashboard"

a
  cursor: pointer
.photo
  .fa-user
    font-size: 47px
.sidebar-background
  background-image: url("./assets/img/bg.jpg")
.btn-add
  margin-top: -22px
  margin-bottom: 22px
  float: right
.card-wizard
  .nav-item
    .nav-link
      &.active
        background-color: $pink-500 !important
        color: $white !important
.organization-form, .supplier-form
  li
    width: 25%
    overflow: hidden
.supplier-form
  .card-wizard
    .tab-content
      min-height: auto
.product-form
  li
    width: 50%
    // overflow: hidden
.card
  .card-body
    .col-form-label
      text-align: left
      padding-left: 0
.alert.alert-default
  background-color: $gray-color
  color: $white
.close-layer
  cursor: pointer
.hidden
  display: none
.pictures-upload
  .fileinput
    display: block
.btn-danger.btn-sm, .btn-default.btn-sm
  color: $white !important
.vue-notification
  margin: 5px
  border-radius: 5px
  font-size: 14px

form
  .form-group
    select.form-control
      position: inherit

.IZ-select__item
  padding: 10px
  border-bottom: 1px solid $gray-color
  cursor: pointer
  img
    max-width: 50px
    margin-right: 10px
    border: 1px solid $gray-color
  &:hover
    background-color: $pink
    color: $white
  &:first-child
    border-bottom: 0

.IZ-select__menu
  max-height: 268px
  overflow-y: scroll
  border: 1px solid $gray-color
  position: absolute
  background-color: $white
  z-index: 100
  left: auto !important
.IZ-select__input
    width: 100%

.IZ-select__menu-items
  > div:last-child, > div:first-child
    display: none
.table-image
  max-width: 50px

label, .col-form-label
  color: $gray
  h6
    color: $gray-darker
.card-icon
  a
    color: $white
