@import "material-dashboard"

a
  cursor: pointer !important
  color: $black-color
  &:hover
    color: $black-color
.pre-line
  white-space: pre-line
.btn-success
  cursor: pointer !important

.photo
  .fa-user
    font-size: 47px
.sidebar-background
  background-image: url("./assets/img/bg.jpg")
.btn-add
  margin-top: -22px
  margin-bottom: 22px
  float: right
.card-wizard
  .nav-item
    .nav-link
      &.active
        background-color: $pink-500 !important
        color: $white !important
.organization-form, .producer-form
  li
    width: 25%
    overflow: hidden
.producer-form
  .card-wizard
    .tab-content
      min-height: auto
.product-form
  li
    width: 50%
    // overflow: hidden
.card
  .card-body
    .col-form-label
      text-align: left
      padding-left: 0
.alert.alert-default
  background-color: $gray-color
  color: $white
.close-layer
  cursor: pointer
.hidden
  display: none
.pictures-upload
  .fileinput
    display: block
.btn-danger.btn-sm, .btn-default.btn-sm
  color: $white !important
.vue-notification
  margin: 5px
  border-radius: 5px
  font-size: 14px

form
  .form-group
    select.form-control
      position: inherit

.IZ-select__item
  padding: 10px
  border-bottom: 1px solid $gray-color
  cursor: pointer
  img
    max-width: 50px
    margin-right: 10px
    border: 1px solid $gray-color
  &:hover
    background-color: $purple
    color: $white
  &:first-child
    border-bottom: 0

.IZ-select__menu
  max-height: 268px
  overflow-y: scroll
  border: 1px solid $gray-color
  position: absolute
  background-color: $white
  z-index: 100
  left: auto !important
.IZ-select__input
    width: 100%

.IZ-select__menu-items
  > div:last-child, > div:first-child
    display: none
.table-image
  max-width: 50px

label, .col-form-label
  color: $gray
  h6
    color: $gray-darker

.card-header-icon a
  &:hover
    color: $white
  &:hover
    color: $white

.card-icon
  a
    color: $white
    &:hover
      color: $white
  &:hover
    color: $white

.router-link-active
  background-color: $green

td
  .img-container
    max-width: 55px
    float: left
    margin-right: 15px
.card [class*="card-header-"] .card-title a, .card [class*="card-header-"] .card-description
  color: $black-color

.table-shopping .td-name
  font-size: 1.2em
.table
  .td-actions
    text-align: right !important
    .btn
      padding: 7px 10px
.thumb
  border-radius: 3px
  margin-right: 15px
  max-height: 46px

.product_td
  h4
    margin-bottom: 0

.ecommerce
  .fixed-top
    position: absolute

  .navbar-brand
    color: $white
    background-color: transparent !important
  .page-header
    background-image: url("./assets/img/bg.jpg")
    background-size: cover
    padding-top: 65px
    .brand
      margin-top: 65px
      .title
        color: $white
  .main
    background: #FFFFFF
    position: relative
    z-index: 3
  .main-raised
    margin: -60px 30px 0px
    border-radius: 6px
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
  .navbar
    .navbar-translate
      width: 100%
      position: relative
      display: flex
      align-items: center
      justify-content: space-between !important
      .btn-rose
        float: right
        width: auto
  .carousel
    margin-top: 30px
  .offer_thumbs
    padding: 10px
    > div
      padding: 5px
    img
      width: 100%
      &.active
        opacity: .5
    @media (max-width: 576px)
      display: none
  .product-info
    width: 100%
  .add_to_cart
    width: 100%
    .form-control
      width: 50px
      height: 50px
      font-size: 20px
      margin-right: 10px
      display: inline-block
  .logout
    margin-top: 20px
    position: absolute
    right: 20px
