@import "material-dashboard"

a
  cursor: pointer
.photo
  .fa-user
    font-size: 47px
.sidebar-background
  background-image: url("./assets/img/bg.jpg")
.btn-add
  margin-top: -22px
  margin-bottom: 22px
  float: right
.card-wizard
  .nav-item
    .nav-link
      &.active
        background-color: $pink-500 !important
        color: $white !important
.organization-form
  li
    width: 25%
    overflow: hidden
.card
  .card-body
    .col-form-label
      text-align: left
      padding-left: 0
.alert.alert-default
  background-color: $gray-color
  color: $white
.close-layer
  cursor: pointer
.hidden
  display: none
.pictures-upload
  .fileinput
    display: block
.btn-danger.btn-sm, .btn-default.btn-sm
  color: $white !important
.vue-notification
  margin: 5px
  border-radius: 5px
  font-size: 14px

form
  .form-group
    select.form-control
      position: inherit
